$white: #FFFFFA;
$red: #FF5E5B;
$blue: #00CECB;
$yellow: #FFED66;
$dark: #233D4D;
$grey: #DAE2DF;

@import url('https://fonts.googleapis.com/css?family=Nunito:700');
@fa-font-path: "./../fonts/font-awesome-4.7.0/";

$nunito: 'Nunito', sans-serif;

$mobileBreak: 600px;
$tabletBreak: 992px;
