/*

 */
@import "variables";

body {
  font-family: $nunito;
  #screenshots {
    background-color: $red;
    img {
      max-height: 500px;
      margin: 0 auto;
    }

    .screenshot-desc {
      vertical-align: middle;
      height: 100%;
    }
  }

  #store-icons {
    margin-top: 5%;
    .store-icon {
      height: 4em;
    }
  }

  #feature-desc {
    p {
      text-align: center;
      font-weight: bold;
    }
    .emoji {
      font-size: 4rem;
    }
  }

  #about {
    .title {
      margin-top: 2.5%;
    }
  }

  .footer {
    background-color: #444444;
    a {
      color: white;
    }
    img {
      max-width: 100px;
    }
    #copyright {
      margin-top: 2.5%;
      color: white;
    }
  }
}
