/*

 */
@import url("https://fonts.googleapis.com/css?family=Nunito:700");
@fa-font-path : "./../fonts/font-awesome-4.7.0/";
body {
  font-family: "Nunito", sans-serif; }
  body .title-banner {
    color: white;
    background-color: #FF5E5B; }
    body .title-banner .title {
      color: white; }
    body .title-banner .subtitle {
      color: white; }
  body #screenshots {
    background-color: #FF5E5B; }
    body #screenshots img {
      max-height: 500px;
      margin: 0 auto; }
    body #screenshots .screenshot-desc {
      vertical-align: middle;
      height: 100%; }
  body #store-icons {
    margin-top: 5%; }
    body #store-icons .store-icon {
      height: 4em; }
  body #feature-desc p {
    text-align: center;
    font-weight: bold; }
  body #feature-desc .emoji {
    font-size: 4rem; }
  body #about .title {
    margin-top: 2.5%; }
  body .footer {
    background-color: #444444; }
    body .footer a {
      color: white; }
    body .footer img {
      max-width: 100px; }
    body .footer #copyright {
      margin-top: 2.5%;
      color: white; }
